.parallaxbg {
    line-height: 77px;
    min-height: 200px;
    margin-top: 80px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: top;
    background-image: url(/img/paralaxbg.jpg);
    color: white;
}
