
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fff;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.footer {
    bottom: 0;
    position: absolute;
    margin: 0 0 20px 50px;
}

.pnotify-text-with-max-height {
    overflow: hidden !important;
}


.section-about {
    padding: 35px;
    background-color: #f0f1f3;
}

.section-top-frontpage {
    position: relative;
    padding-top: 10px;
    background: #179a99 url(../img/hero-bg.svg) no-repeat center;
    background-size: cover;

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .logoimg {
            width: 200px;
        }

        .slogan {
            font-size: 31px;
            color: white;
            font-weight: bold;
        }
    }
}

.waveimg {
    vertical-align: middle;
    border-style: none;
}
