@{
    ViewData["Title"] = "Upload de arquivo";
}

<form asp-action="UploadFile"
      enctype="multipart/form-data"
      onsubmit="AJAXSubmit(this);return false;"
      method="post">
    <dl>
        <dt>
            <label for="theFile">Escolha o arquivo a ser enviado</label>
        </dt>
        <dd>
            <input type="file" id="theFile" name="theFile" multiple />
        </dd>
    </dl>
    <input class="btn btn-primary" type="submit" value="Enviar" />


    <br />
    <br />
    <br />
    <br />

    <pre id="json"></pre>
</form>
