@{
    ViewData["Title"] = "Upload de arquivo";
}
<div class="fileProcessPage" style="display:none;">

    <div class="fileuploadcontainer parallaxbg">
        <form id="uploadForm" name="uploadForm"
              accept=".pdf"
              onsubmit="AJAXSubmit(this);return false;"
              action="/Home/UploadFile"
              enctype="multipart/form-data"
              method="post">
            <dl>
                <dt>
                    <label class="form-label" for="theFile">Escolha o arquivo PDF a ser analisado</label>
                </dt>
                <dd>
                    <input type="file"
                           id="theFile"
                           name="theFile"
                           class="form-control"
                           onchange="validateFile(this)" />
                </dd>
            </dl>
            <button class="btn btn-primary btn-lg" type="submit">Enviar arquivo PDF</button>
            <div class="linespacer-x"></div>

        </form>
    </div>

    <div id="statusAlert" class="alert alert-success" role="alert" style="display:none;">
    </div>

    <div class="text-center">
        <div class="spinner-border" role="status" style="display:none;">
            <span class="visually-hidden">Iniciando...</span>
        </div>
    </div>

    <div class="progress" style="display:none;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">0%</div>
    </div>

    <partial name="_FileProcessResultPartial" />
    <partial name="_PageProcessResultPartial" />

    <div class="linespacer-x"></div>

    <div id="tips" class="container pt-3" style="display:none">
        <h3>Sobre o detalhamento das páginas do seu documento:</h3>
        <p><small><strong>*Caso a taxa de extração do texto da página seja muito baixa significa que existem muitas imagens na página deste documento e a qualidade destas imagens não possibilitou uma boa leitura pelo software de OCR, verifique se as imagens são realmente necessárias e se todas elas possuem legendas descritivas para garantir acessibildiade.</strong></small></p>
        <p><small><strong>**Caso tenho sido necessário utilizar OCR para extrair seu texto o documento não será acessível para os aplicativos de leitura de deficientes visuais, por favor tente reestruturar esse documento de outra forma antes de usa-lo em qualquer sistema.</strong></small></p>
        <p><small><strong>***Tente sempre inserir nos sistemas um documento do tipo PDF/A para garantir a longevidade do seu documento eletrônico.</strong></small></p>
    </div>

    <div class="linespacer-x"></div>

    <div id="about" class="pt-3 section-about">
        <h3>Sobre o Projeto:</h3>
        <p><strong>O que é:</strong> Um projeto de código aberto, voltado para utilização em multiplataforma e multissistemas de integração com o deficiente visual que careça de analise previa do documento a ser juntado em ecosistemas jurídicos e administrativos.</p>
        <p><strong>O nome:</strong> Uma homenagem a Dorina de Gouvêa Nowill (São Paulo, 28 de maio de 1919 — São Paulo, 29 de agosto de 2010) foi uma educadora, filantropa e administradora brasileira. Educadora de formação, Dorina trabalhou intensamente para a criação e implantação de instituições, leis e campanhas em prol dos deficientes visuais e pelo seu trabalho foi diversas vezes reconhecida e premiada. (https://pt.wikipedia.org/wiki/Dorina_Nowill)</p>
        <p><strong>Objetivo:</strong> Proporcionar aos diversos operadores dos sistemas administrativos e jurídicos, sendo eles deficientes ou não, uma ferramenta de analise textual capaz de identificar o nível de acessibilidade do documento PDF.</p>
        <p><strong>Parceria:</strong> <a target="_blank" href="https://www.tjto.jus.br/">Tribunal de Justiça do Tocantins</a> e <a target="_blank" href="https://www.defensoria.to.def.br/">Defensoria Pública do Estado do Tocantins</a></p>
        <p><strong>A ideia projeto foi concebida a partir da publicação desta resolução: </strong><a target="_blank" href="https://atos.cnj.jus.br/atos/detalhar/3987">Resolução Nº 401 de 16/06/2021</a></p>
        <p><strong>Desenvolvido por:</strong></p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <img alt="Imagem da página"
                             class="img-fluid img-thumbnail rounded mx-auto d-block"
                             src="~/img/92j3d92839jd23.png" />
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <p>
                            <b>Angelo Stacciarini Seraphin</b>, Analista Judiciário do Tribunal de Justiça do Tocantins, Doutorando no Programa de Pós Graduação em Modelagem Computacional pela UFT / ESMAT.
                        </p>
                        <p><a href="Angelo Stacciarini">astacciarini@gmail.com</a></p>
                        <a target="_blank" href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                        <a target="_blank" href="#"><i class="fab fa-facebook fa-2x"></i></a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <img alt="Imagem da página"
                             class="img-fluid img-thumbnail rounded mx-auto d-block"
                             src="~/img/1586624207425.jfif" />
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <p>
                            <b>Jhonatas Henrique de Lima Mota</b>, Analista de Tecnologia da Defensoria Pública do Estado do Tocantins, colabora e representa a TI da Defensoria Pública do Estado do Tocantins junto à equipe de TI no Tribunal de Justiça do Tocantins.                            
                        </p>
                        <p><a href="mailto:jhlmota@gmail.com">jhlmota@gmail.com</a></p>
                        <a target="_blank" href="https://www.linkedin.com/in/jhonataslima/"><i class="fab fa-linkedin fa-2x"></i></a>
                        <a target="_blank" href="https://www.facebook.com/jhlmota"><i class="fab fa-facebook fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <hr />
        <a target="_blank" href="/api"><h5>Conheça nossa API</h5></a>
        <br />
        <a target="_blank" href="https://github.com/jhonnhenry/dorinapdf"><h5>Conheça o repositório do projeto</h5></a>

    </div>

</div>