@{
    ViewData["Title"] = "Upload de arquivo";
}
<div class="fileProcessPage" style="display:none;">

    <div class="fileuploadcontainer">
        <form id="uploadForm" name="uploadForm"
              accept=".pdf"
              onsubmit="AJAXSubmit(this);return false;"
              action="/Home/UploadFile"
              enctype="multipart/form-data"
              method="post">
            <dl>
                <dt>
                    <label for="theFile">Escolha o arquivo PDF a ser enviado</label>
                </dt>
                <dd>
                    <input type="file"
                           id="theFile"
                           name="theFile"
                           onchange="validateFile(this)" />
                </dd>
            </dl>
            <button class="btn btn-primary btn-large" type="submit">Enviar arquivo PDF</button>
            <div class="linespacer-x"></div>
            <div class="spinner-border" role="status" style="display:none;">
                <span class="visually-hidden">Iniciando...</span>
            </div>
        </form>
    </div>

    <div id="statusAlert" class="alert alert-success" role="alert" style="display:none;">
    </div>

    <div class="progress" style="display:none;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">0%</div>
    </div>

    <partial name="_FileProcessResultPartial" />
    <partial name="_PageProcessResultPartial" />

    <div class="linespacer-x"></div>

    <div id="tips" class="container pt-3" style="display:none">
        <h3>Sobre o detalhamento das páginas do seu documento:</h3>
        <p><small><strong>*Caso a taxa de extração do texto da página seja muito baixa significa que existem muitas imagens nessa página deste documento, verifique se as imagens são realmente necessárias e se todas elas possuem legendas descritivas para garantir acessibildiade.</strong></small></p>
        <p><small><strong>**Caso tenho sido necessário utilizar OCR para extrair seu texto o documento não será acessível para os aplicativos de leitura de deficientes visuais, por favor tente reestruturar esse documento de outra forma antes de usa-lo em qualquer sistema.</strong></small></p>
        <p><small><strong>***Tente sempre inserir nos sistemas um documento do tipo PDF/A para garantir a longevidade do seu documento eletrônico.</strong></small></p>
    </div>

    <div id="about" class="container pt-3">
        <h3>Sobre o Projeto:</h3>
        <p><strong>O que é:</strong> Um projeto de código aberto, voltado para utilização em multiplataforma e multissistemas de integração com o deficiente visual que careça de analise previa do documento a ser juntado em ecosistemas jurídicos e administrativos.</p>
        <p><strong>O nome:</strong> Uma homenagem a Dorina de Gouvêa Nowill (São Paulo, 28 de maio de 1919 — São Paulo, 29 de agosto de 2010) foi uma educadora, filantropa e administradora brasileira. Educadora de formação, Dorina trabalhou intensamente para a criação e implantação de instituições, leis e campanhas em prol dos deficientes visuais e pelo seu trabalho foi diversas vezes reconhecida e premiada. (https://pt.wikipedia.org/wiki/Dorina_Nowill)</p>
        <p><strong>Objetivo:</strong> Proporcionar ao diversos operadores dos sistemas administrativos e jurídicos, sendo eles deficientes ou não, uma ferramenta de analise textual capaz de identificar o nível de acessibilidade do documento PDF.</p>
        <p><strong>Desenvolvido por:</strong></p>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <img alt="Imagem da página"
                             class="img-fluid img-thumbnail rounded mx-auto d-block"
                             src="~/img/92j3d92839jd23.png" />
                    </div>
                    <div class="col-6">
                        <p>
                            <b>Angelo Stacciarini Seraphin</b>, Analista de Judiciário, Tribunal de Justiça do Tocantins, Doutorando no Programa de Pós Graduação em Modelagem Computacional pela UFT/ESMAT.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <img alt="Imagem da página"
                             class="img-fluid img-thumbnail rounded mx-auto d-block"
                             src="~/img/1586624207425.jfif" />
                    </div>
                    <div class="col-6">
                        <p>
                            <b>Jhonatas Henrique de Lima Mota</b>, Analista de Tecnologia, Defensoria Pública do Estado do Tocantins, Representa a T.I. da Defensoria Pública do Estado do Tocantins junto à equipe de TI no Tribunal de
                            Justiça do Tocantins.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p><strong>Parceria:</strong> Tribunal de Justiça do Tocantins e Defensoria Pública do Estado do Tocantins</p>
    </div>

    <br />
    <hr />
    <a href="/api"><h4>Conheça nossa API</h4></a>
</div>