<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Projeto Dorina PDF
    </div>
</footer>
<div class="modalload">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>