<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/dorinalogoNobg200x180.png" />
    <title>Dorina PDF - @ViewData["Title"]</title>
    <partial name="_allStylesPartial" />
</head>
<body>

    <div class="section-top-frontpage">
        <header>
            <figure><img class="logoimg" src="~/img/dorinalogoNobg.png" alt="Projeto Dorina"></figure>
            <span class="slogan">Saiba se seu PDF é acessível</span>
        </header>
        <figure class="waveimg"><img src="~/img/wave.svg" alt="wave-image"></figure>
    </div>


    <main role="main">
        @RenderBody()
    </main>

    <div class="image-viewer-container" onclick="$(this).hide()">
        <span class="close">&times;</span>
        <img class="image-viewer-modal-content image-viewer-full-image">
    </div>

    <partial name="_FooterPartial" />

    <partial name="_allScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
